form{
    font-size: 1.3rem;
}
form label{
    display: block;
    width: 50%;
    margin: 0 auto;
}

input,
textarea, input:focus,
textarea:focus{
    width: 100%;
    padding: 1rem;
    color: var(--primaryBlack);
    border: none;
    cursor:initial;
    margin: 1rem 0 2rem;
}

textarea{
    resize: none;
}

form button {
    background-color: var(--primaryBlack);
    color: var(--white);
    margin: 3rem;
    border: none;
    padding: .7rem;
    border-radius:.3rem;
    cursor: pointer;
    transition: background-color .3s ease;
}
form button:hover {
    background-color: var(--white);
    color: var(--primaryBlack);
}

#social-media{
    display: flex;
    justify-content:center;
}

#social-media img {
    width:3rem;
    padding: 2rem 4rem .5rem;
}