:root{
    /* --primaryBlack: hsl(0, 0%, 0%); */
    --primaryBlack: #000000;
    /* --secundaryblack:hsl(0, 0%, 7%); */
    /* --secundaryblack: #61677A; */
    --secondaryWhite: hsl(0, 0%, 93%);
    --black1:#323333;
    --black2:#2a2b2b;
    --gray:#e1e4e5;
    --gray2:#c0c6c9;
    --gray3:#4b4c4d;
    --white: #ffffff;
    --white2: #f1f1f1;
    --white3:#b9b9b9;
}