html{
    background: linear-gradient(var(--white), var(--white2));
}
section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#navbar, section.even{
    background:var(--primaryBlack);
}

footer{
    background:var(--primaryBlack);
    padding: 2rem 0;
}

hr{
    height: 0.05rem;
    max-width: 90%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), var(--primaryBlack), rgba(0, 0, 0, 0));
}

section.even hr{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), var(--primaryBlack), rgba(0, 0, 0, 0));
}

section hr{
    margin-bottom: 5rem;
}